* {
  margin: 0;
  padding: 0;
/* background-color: black; */
}

#w1{
  background-color: rgba(0, 0, 0, 0.256);
  box-shadow: 0px 15px 55px rgb(0, 0, 0);
  overflow-x: auto;
}

#n3{
  overflow-x: auto;
}



#d7{
  box-shadow: 0px 15px 85px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.256);
  /* border: 5px solid black; */
}



div {
  font-family: 'Ysabeau Office', sans-serif;

}

#f1 {
  background-color: black
}

#h3 {
  color: #d580e8
}

#q1 {
  height: 350px
}

#l2{
  padding: 50px;
  margin-left: 70px;
}

#d1 {
  
  background-color: rgba(0, 0, 0, 0.256);
  box-shadow: 0px 15px 85px rgb(0, 0, 0);

  }

  #j3{
    box-shadow: 0px 15px 55px rgb(0, 0, 0);
  }

#b1{
  background-color: rgba(0, 0, 0, 0.256);
  border: 2px solid black;
  box-shadow: 0px 3px 55px rgb(0, 0, 0)
}

#g1{
  margin-left: 20px;
}

#c1 {
  
  background-color: rgba(0, 0, 0, 0.256);
  box-shadow: 0px 15px 85px rgb(0, 0, 0)


}

#c2 {
  background-color: rgba(0, 0, 0, 0.256);
  box-shadow: 0px 15px 85px rgb(0, 0, 0)


}

#m7{
  padding: 50px;
  margin-left: 50px;
}

@media screen and (max-width: 920px) {

  #l2{
    padding: 10px;
    margin-left: 20px
  }

  #m7{
    padding: 70px;
    margin-left: -20px
  }

  #g1{
    margin-left: -30px
  }
  
  }


@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alfa+Slab+One&family=Averia+Serif+Libre:wght@300&family=Cinzel&family=Cinzel+Decorative:wght@700;900&family=Cormorant+Garamond:wght@300&family=DM+Serif+Display&family=Dancing+Script:wght@700&family=Domine:wght@700&family=IBM+Plex+Mono:wght@500&family=Libre+Baskerville:wght@700&family=Mate+SC&family=Raleway&family=Righteous&family=Roboto+Slab:wght@500&family=Shadows+Into+Light&family=Ysabeau+Office&display=swap');